body
  float right
  position relative
  right 50%
  text-align left

h1
  color #daad36
  font-family caslon, serif

p
  color #312c32
  font-family myriad, sans-serif

#span-between-text-and-button
  margin 0 10px
