doctype html
html(lang="en")
  head
    title Shawty
    link(rel='stylesheet', href='main.css')
  body
    h1 Your URL has been Shawtified!
    p The URL you entered:
    p #{input_url}
    p has a length of #{input_url_len} characters and has been shortened to the following URL with a length of #{short_url_len} characters:
    p #{short_url}
